.l-editor {
  font-size: 12px;

  .floating-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 400;
    height: 40px;
    padding: 12px 15px;
    text-transform: uppercase;
    font-size: 0.95em;
    color: $header-gray;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(25%, white), color-stop(100%, rgba(255, 255, 255, 0.9)));
    background: -webkit-linear-gradient(top, white 0%, white 25%, rgba(255, 255, 255, 0.9) 100%);
    background: linear, to bottom, white 0%, white 25%, rgba(255, 255, 255, 0.9) 100%;

    .word-count, .markdown-help {
      float: right;
    }

    .markdown-help {
      color: $header-gray;

      &:hover {
        color: darken($header-gray, 5%);
      }
    }
  }

  blockquote {
    font-style: italic;
    border-left: 3px solid $light-gray;
    padding-left: 0.5em;
  }

  .CodeMirror-lines {
    padding: 65px 0 40px 0;
  }
}
