.l-editor {
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 0;
  left: 15px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

  .l-container {
    position: relative;
    height: 100%;
  }

  .editor {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: 15px;
    position: absolute;
    bottom: 40px;
    top: 61px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 5px;
  }

  .l-post-editor {
    @extend .editor;
    left: 0;
    border-right: $light-gray 2px solid;
  }

  .l-post-preview {
    @extend .editor;
    right: 0;
    border-left: $light-gray 2px solid;
  }

  #post-preview-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 40px 40px 40px;
    overflow: auto;
    word-break: break-word;
    hyphens: auto;
  }
}

#markdown-help-modal, #copy-html-modal {
  @extend %modal;

  .modal-close:after {
    top: 60px;
  }

  span {
    font-size: 0.9em;

    a {
      color: $link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .markdown-help-container {
    padding-bottom: 20px;
  }

  .modal-markdown-help-table {
    width: 100%;
    max-width: 100%;
    font-size: 0.9em;
    margin: 0 0 1.6em 0;
  }

  th {
    border-top: 0;
    color: $header-gray;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: $extra-light-gray;
    }
  }

  td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #edece4;
  }
}

#copy-html-modal {
  .modal-content {
    height: 200px;
  }
}
