$black: #000;
$dark-gray: #3C4043;
$light-gray: #EDECE4;
$extra-light-gray: #f7f7f3;

$header-gray: #AAA9A2;

$link-color: #5ba4e5;

$footer-black: #1a1c1d;

@import 'modal';

@import 'codemirror';
@import 'editor/base';
@import 'editor/layout';
@import 'editor/editor';

